#container {
    width: 95%;
    margin: auto;
    font-family: Calibri;
    text-align: center;
    direction: rtl;
    height: 700px;
}
#header, #footer{
    height: 20%;
    background-color: #666;
    border-bottom: double black;
}
#section{
    height: 60%;
    background-color: #f1f1f1;
}
#details{
    width: 80%;
}
#aside{
    width: 20%;
    background-color: #ccc;
}
#details, #aside{
    height: 100%;
    float: left;
    justify-content: center;
}
#footer img {
    height: 100px;
}
#header img{
    height: 70%;
    padding-top: 20px;
}
table, td, th{
    border-bottom: 2px solid black;
    border-collapse: collapse;
    height: 100%;
}
td, th{
    height: 25%;
}
th{
    font-size: 34px;
}
body{
    margin: 0;
}
#description{
    width: 70%;
}
li{
    font-size: 20px;
}
h1{
    margin: 0;
    color: white;
}
#html{
    color: red;
}
#css{
    color: Highlight;
}
#js{
    color: forestgreen;
}